<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div>
    <table>
        <th:block th:each="user : ${users}">
            <tr>
                <th th:text="${user.getEmail()}"></th>
                <td th:text="${user.getFirstName()}"></td>
                <td th:text="${user.getLastName()}"></td>
            </tr>
        </th:block>
    </table>
</div>
</body>
</html>